@model IEnumerable<Team7ADProjectMVC.Inventory>

@{
    Layout = "~/_Layout1.cshtml";
    Page.Title = "View Inventory";
}


<div class="container-fluid">
    <div class="row jumbotron">

        <form class="form" role="form">
            <div class="col-md-2 form-group ">
                <label for="categoryPicker">
                    Category
                </label>
            </div>
            <div class="col-md-4 form-group">
                <select id="categoryPicker" name="category"
                        class="selectpicker show-tick form-control"
                        data-live-search="true" required>
                    @foreach (Category c in ViewBag.Cat)
                    {
                    <option value="@c.CategoryId">@c.CategoryName</option>
                    }

                </select>
            </div>
            <div class="col-md-2 form-group ">
                <button class="btn btn-default" type="submit">
                    Search
                </button>
            </div>
        </form>
    </div>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Item Code
                    </th>
                    <th>
                        Product
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var StockCard in Model)
                {
                    <tr class="clickable-row" data-href="InventoryItem/@StockCard.ItemNo">
                        <td>@StockCard.ItemNo</td>
                        <td>@StockCard.Description</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.document.location = $(this).data("href");
        });
    });
</script>