@model Team7ADProjectMVC.Requisition
@{
    Page.Title = "View Requisition Details";
    Layout = "~/Views/Shared/_LayoutD.cshtml";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>
                    VIEW REQUISITION DETAILS
                </h1>
            </div>
            <h3>
                Requisition ID:
            </h3>
            <h3>
                Department:
            </h3>
            <h3>
                Item List:
            </h3>

            <table class="table">
                <thead>

                    <tr>
                        <th>
                            ItemNo
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Outstanding Quantity
                        </th>
                    </tr>

                 
                </thead>
                <tbody>

                    @foreach (var item in @ViewBag.rel)
                    {
                        <tr>
                            <td>
                                @item.RequisitionId
                            </td>
                           
                        </tr>
                    }

                </tbody>
             

                </table>


        



            <h3>
                Descriptions:
            </h3>

            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam
            </p>
            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>
    </div>
</div>