@model Team7ADProjectMVC.Requisition
@{
    ViewBag.Title = "Approve/Reject Requisition";
    Layout = "~/Views/Shared/_Layouthead.cshtml";
}

  
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h5>
                        Requisition Form#: DDS/111/999
                        </h5>
                        <div>
                            
                            Dept Name:@Html.DisplayFor(model => model.Employee.Department.DepartmentName)
                            <div>
                                <h5>

                                 
                                    Employee Name:@Html.DisplayFor(model => model.Employee.EmployeeName)
                                    <br />
                                    <br />
                                    Employee Number:@Html.DisplayFor(model => model.Employee.EmployeeId)
                                    <br />
                                    <br />
                                    Employee Email Address:<a href="mailto:Address:Jenny@LogicUniversity">@Html.DisplayFor(model => model.Employee.Email)</a>
                                    <br />
                                    <br />
                                    <br />
                                    <br />

                                </h5>
                            </div>
                        </div>
                        <span class="label label-default"></span>
                        <table class="table">
                            <thead>
                                <tr>
                                    
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                @foreach (var item in Model.RequisitionDetails)
                                {
                                    <tr>
                                        <td>
                                            @item.Inventory.Description
                                        </td>
                                        <td>
                                            @item.Quantity
                                        </td>
                                        
                                    </tr>
                                }

                            </tbody>
                        </table>
                        <h5>
                            Comment:
                        </h5>
                    <form id="form1" action="../MarkAsCollected">
                        <p>
                            &nbsp;<input type="text" id="Text" aria-autocomplete="none" aria-disabled="False" aria-multiline="True" aria-multiselectable="True" aria-orientation="vertical" name="textcomments" rows="3" cols="50"/>
                        </p>

                        <input type="hidden" value="@Model.RequisitionId" name="rid" />
                        <input type="submit" class="btn btn-success btn-lg" name="status" value="Approve" />
                        <input type="submit" class="btn btn-danger btn-lg" name="status" value="Reject" />
                    </form>

                        @*<a href="/Head/ApproveRequisition/@Model.RequisitionId">
                <button type="button" class="btn btn-success btn-lg">
                    Approve
                </button></a>

            <a href="/Head/RejectRequisition/@Model.RequisitionId">
                <button type="button" class="btn btn-danger btn-lg">
                    Reject
                </button>
            </a>*@
            </div>
            </div>

        </div>
    

