@model IEnumerable<Team7ADProjectMVC.Employee>

    @{
        Layout = "~/Views/Shared/_Layouthead.cshtml";
        Page.Title = "Delegate Acting Department-Head";
}

@*<script type="text/javascript">
    $(".form_datetime").datetimepicker({ format: 'yyyy-mm-dd hh:ii' });
</script>*@

<form role="form" action="/Head/ManageDelegation">
    <div class="row">
        <div class="col-lg-4 col-xs-12">
            Choose Employee:
            <div>
                <select id="empListPicker" name="empId"
                        class="selectpicker show-tick form-control"
                        data-live-search="true" title="Retrieve by department head to view all employees">
                    @foreach (var emp in ViewBag.empList)
                    {
                        <option value="@emp.EmployeeId">@emp.EmployeeName </option>
                    }
                
                </select>
            </div>

        </div>
    </div>

    
      
            <table>
                <tr>
                    <td>
                        Start Date:
                        <div style="overflow:hidden;">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div id="datetimepicker1" ></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>
                    <td>
                        <br />
                        <br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <br />
                    </td>
                    <td>
                        End Date:
                        <div style="overflow:hidden;">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div id="datetimepicker2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>


            <br />
            <br />



                            <h5>
                   
                    Start Date:<label id="s1" name="s" value="startDate"></label><br/>  
                    <input type="hidden" name="startDate" id="startDate" />
                  
                                     
                    End Date::<label id="e1" name="e" value="endDate"></label><br/>
                    <input type="hidden" name="DelegateId" id="d" value="0" />
                   
                   <input type="hidden" name="endDate" id="endDate" /> 
                    @*<input type="checkbox" name="approveReq" >Approve Requisition<br>
    <input type="checkbox" name="changeCP">Change Collection Point<br>
    <input type="checkbox" name="viewReq">View Requisiton <br />
    <input type="checkbox" name="makeReq">Make Requisition<br>
    <input type="checkbox" name="delegateRol">Delegate Role<br />
    <input type="checkbox" name="viewColDetl">View Collection Details<br />

    <br />
    <br />*@

                </h5>
                
            <button type="submit" class="btn btn-success btn-lg" name="status" value="Delegate" id="submitButton" >
                Delegate
            </button>
               
                
    </form>
    </>


    <script type="text/javascript">
        $(function () {

            $('#datetimepicker1').datetimepicker({
                format: 'DD/MM/YYYY HH:mm:ss',
                inline: true,
                sideBySide: false,
                minDate: new Date()
            });
       
            $("#datetimepicker1").on("dp.change", function (date, e) {
                {
                    $('#startDate').val($('#datetimepicker1').data("DateTimePicker").date().format('DD/MM/YYYY').toString());
                    $('#s1').text($('#datetimepicker1').data("DateTimePicker").date().format('DD/MM/YYYY').toString());
                    $('#datetimepicker2').data("DateTimePicker").minDate(date.date);
                    
                    //var da = $('#datetimepicker1').data("DateTimePicker").date().format('YYY-MM-DD').toString();
                    //String s=(String)da.toString();
                }
                
            });
           
            $('#datetimepicker2').datetimepicker({
                
                inline: true,
                sideBySide: false
            });
            $("#datetimepicker2").on("dp.change", function (date, e) {
                console.log($('#datetimepicker2').data("DateTimePicker").date());
                $('#endDate').val($('#datetimepicker2').data("DateTimePicker").date().format('DD/MM/YYYY').toString());
                $('#e1').text($('#datetimepicker2').data("DateTimePicker").date().format('DD/MM/YYYY').toString());

            });
        });


       
        //$(document).ready(function () {

        //    $("#datetimepicker1").on("click", function ()
        //     {                 
        //         alert('The start date must be current date or after current date');
        //     });

        // });
        

       
    </script>


